/awstats/*
/administrator/cache/*
/administrator/components/com_akeeba/backup/*
/tmp/*
/bin/*
/cli/*
/cache/*
/installation/*
/log/*
/logs/*
*.zip
*.log
*.log.php
/configuration.php
/images/stories/virtuemart/category/resized/*
/images/stories/virtuemart/product/resized/*