/awstats/*
/administrator/cache/*
/administrator/components/com_akeeba/backup/*
/tmp/*
/bin/*
/cli/*
/cache/*
/dump/*
/installation/*
/log/*
/logs/*
/backup/*
/installation/*
/log/*
/logs/*
*.zip
*.log
/configuration.php
